@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
@import "./assets/scss/base.scss";
@import "./components/Header/Header.scss";
@import "./components/Home/Home.scss";
@import "./components/CartSelected/CartSelected.scss";

body {
  margin: 0;
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 20px;
}
